$default-font-color: #000;
$background-color: cadetblue;
$container-bgcolor: lightblue;
$container-bordercolor: #000;
$button-textcolor: #fff;
$savebutton-bgcolor: darkcyan;
$savebutton-textcolor: #fff;
$posbutton: #4caf50;
$zerobutton: darkorange;
$negbutton: #9f6060;

@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    @include mq(768px) {
        font-size: 22px;
    }
}

body {
    padding: 20px;
    background-color: $background-color;
}

section {
    background-color: $container-bgcolor;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    border: 1px solid $container-bordercolor;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
